#!/usr/bin/env bash

set -euo pipefail

if ! command -v nix; then
    echo "not using the dev environment from Nix.";
else
    if nix flake info &>/dev/null; then
        watch_file flake.lock
        watch_file flake.nix
        eval "$(nix print-dev-env)"
    else
        use_nix
    fi
fi
